<a href="https://colab.research.google.com/github/giibudri2228/limpeza-dados-pandas/blob/main/Dados_com_Python_Alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [5]:

# Leia as linhas

df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [6]:
# Formato, nome e tipo dos dados

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [7]:
# Estatísticas descritivas

df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [8]:
# Tupla com número de linhas e colunos, respectivamente

df.shape

(133349, 11)

In [9]:
print(f'Há {df.shape[0]} linhas e {df.shape[1]} colunas! ')

Há 133349 linhas e 11 colunas!

In [10]:
# Nomes das colunas

df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [11]:
columns_translation = {
    'work_year': 'ano_trabalho',
    'experience_level': 'nivel_experiencia',
    'employment_type': 'tipo_emprego',
    'job_title': 'titulo_cargo',
    'salary': 'salario',
    'salary_currency': 'moeda_salario',
    'salary_in_usd': 'salario_em_usd',
    'employee_residence': 'residencia_funcionario',
    'remote_ratio': 'proporcao_remoto',
    'company_location': 'localizacao_empresa',
    'company_size': 'tamanho_empresa'
}

''' Renomeando as colunas para o PT-BR '''

df = df.rename(columns=columns_translation)
print(df.columns)

Index(['ano_trabalho', 'nivel_experiencia', 'tipo_emprego', 'titulo_cargo',
       'salario', 'moeda_salario', 'salario_em_usd', 'residencia_funcionario',
       'proporcao_remoto', 'localizacao_empresa', 'tamanho_empresa'],
      dtype='object')

In [12]:
# Agrupa a coluna e soma os resultados

df["nivel_experiencia"].value_counts()

nivel_experiencia
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [13]:
df["tipo_emprego"].value_counts()

tipo_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [14]:
df["proporcao_remoto"].value_counts()

proporcao_remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [15]:
nivel_experiencia_translation = {
    'SE': 'Sênior',
    'MI': 'Médio',
    'EN': 'Entrada',
    'EX': 'Executivo'
}

df['nivel_experiencia'] = df['nivel_experiencia'].replace(nivel_experiencia_translation)

df['nivel_experiencia'].value_counts()

nivel_experiencia
Sênior       77241
Médio        40465
Entrada      12443
Executivo     3200
Name: count, dtype: int64

In [16]:
tipo_emprego_translation = {
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Meio Período',
    'FL': 'Autônomo'
}

df['tipo_emprego'] = df['tipo_emprego'].replace(tipo_emprego_translation)

df['tipo_emprego'].value_counts()

tipo_emprego
Tempo Integral    132563
Contrato             394
Meio Período         376
Autônomo              16
Name: count, dtype: int64

In [17]:
tamanho_empresa_translation = {
    'S': 'Pequena',
    'M': 'Média',
    'L': 'Grande'
}

df['tamanho_empresa'] = df['tamanho_empresa'].replace(tamanho_empresa_translation)

df['tamanho_empresa'].value_counts()

tamanho_empresa
Média      129561
Grande       3574
Pequena       214
Name: count, dtype: int64

In [18]:
proporcao_remoto_translation = {
    0: 'Presencial',
    50: 'Híbrido',
    100: 'Totalmente Remoto'
}

df['proporcao_remoto'] = df['proporcao_remoto'].replace(proporcao_remoto_translation)

df['proporcao_remoto'].value_counts()

proporcao_remoto
Presencial           105312
Totalmente Remoto     27718
Híbrido                 319
Name: count, dtype: int64

In [19]:
df.head()

,ano_trabalho,nivel_experiencia,tipo_emprego,titulo_cargo,salario,moeda_salario,salario_em_usd,residencia_funcionario,proporcao_remoto,localizacao_empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Totalmente Remoto,US,Média
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Totalmente Remoto,US,Média
2,2025.0,Médio,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Médio,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Entrada,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [20]:
# Descrição de informações não numéricas

df.describe(include="object")

,nivel_experiencia,tipo_emprego,titulo_cargo,moeda_salario,residencia_funcionario,proporcao_remoto,localizacao_empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Sênior,Tempo Integral,Data Scientist,USD,US,Presencial,US,Média
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [21]:
# Saber se há valores nulos (True caso houver)

df.isnull()

,ano_trabalho,nivel_experiencia,tipo_emprego,titulo_cargo,salario,moeda_salario,salario_em_usd,residencia_funcionario,proporcao_remoto,localizacao_empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [22]:
# Soma dos nulos

df.isnull().sum()

ano_trabalho              10
nivel_experiencia          0
tipo_emprego               0
titulo_cargo               0
salario                    0
moeda_salario              0
salario_em_usd             0
residencia_funcionario     0
proporcao_remoto           0
localizacao_empresa        0
tamanho_empresa            0
dtype: int64

In [23]:
df["ano_trabalho"].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [24]:
df[df.isnull().any(axis=1)]

,ano_trabalho,nivel_experiencia,tipo_emprego,titulo_cargo,salario,moeda_salario,salario_em_usd,residencia_funcionario,proporcao_remoto,localizacao_empresa,tamanho_empresa
5588,NaN,Sênior,Tempo Integral,Product Manager,184500,USD,184500,US,Presencial,US,Média
59692,NaN,Médio,Tempo Integral,Engineer,110000,USD,110000,DE,Presencial,DE,Média
59710,NaN,Entrada,Tempo Integral,Data Scientist,208800,USD,208800,US,Presencial,US,Média
59759,NaN,Sênior,Tempo Integral,Software Engineer,135000,USD,135000,US,Presencial,US,Média
59789,NaN,Sênior,Tempo Integral,Engineer,112000,USD,112000,US,Presencial,US,Média
131000,NaN,Sênior,Tempo Integral,Machine Learning Engineer,163800,USD,163800,US,Presencial,US,Média
131006,NaN,Sênior,Tempo Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Média
133054,NaN,Entrada,Tempo Integral,Data Scientist,40000,USD,40000,JP,Totalmente Remoto,MY,Grande
133281,NaN,Médio,Tempo Integral,Machine Learning Engineer,180000,PLN,46597,PL,Totalmente Remoto,PL,Grande
133317,NaN,Médio,Tempo Integral,Data Scientist,130000,USD,130000,US,Híbrido,US,Grande

In [25]:
# Completando salários nulos com média e mediana

import numpy as np

''' np.nam -> Valores nulos '''

df_salarios = pd.DataFrame({
    "nome" : ["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    "salario" : [4000, np.nan, 5000, np.nan, 100000]
})


''' Calcula mediana e substitui os nulos pela média '''

df_salarios["salario_media"] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2))

''' Calcula mediana e substitui os nulos pela mediana '''

df_salarios["salario_mediana"] = df_salarios['salario'].fillna(df_salarios['salario'].median())

df_salarios

      nome   salario  salario_media  salario_mediana
0      Ana    4000.0        4000.00           4000.0
1    Bruno       NaN       36333.33           5000.0
2   Carlos    5000.0        5000.00           5000.0
3  Daniele       NaN       36333.33           5000.0
4      Val  100000.0      100000.00         100000.0

In [26]:
# Preeenchendo temperaturas nulas com ffill -> Completa com o valor anterior

df_temperaturas = pd.DataFrame({
    "dia" : ["Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira"],
    "temperatura" : [30, np.nan, np.nan, 28, 27]
})

df_temperaturas["preenchido_ffill"] = df_temperaturas["temperatura"].ffill()
df_temperaturas

             dia  temperatura  preenchido_ffill
0  Segunda-feira         30.0              30.0
1    Terça-feira          NaN              30.0
2   Quarta-feira          NaN              30.0
3   Quinta-feira         28.0              28.0
4    Sexta-feira         27.0              27.0

In [27]:
# Preeenchendo temperaturas nulas com bfill -> Completa com o valor posterior

df_temperaturas = pd.DataFrame({
    "dia" : ["Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira"],
    "temperatura" : [30, np.nan, np.nan, 28, 27]
})

df_temperaturas["preenchido_bfill"] = df_temperaturas["temperatura"].bfill()
df_temperaturas

             dia  temperatura  preenchido_bfill
0  Segunda-feira         30.0              30.0
1    Terça-feira          NaN              28.0
2   Quarta-feira          NaN              28.0
3   Quinta-feira         28.0              28.0
4    Sexta-feira         27.0              27.0

In [28]:
# Preenchendo uma nova coluna com "Não informado" onde há valores nulos

df_cidades = pd.DataFrame({
    "nome" : ["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    "cidade" : ["São Paulo", np.nan, "Curitiba", np.nan, "Belém"]
})

df_cidades['cidade_preenchida'] = df_cidades["cidade"].fillna("Não informado")
df_cidades

      nome     cidade cidade_preenchida
0      Ana  São Paulo         São Paulo
1    Bruno        NaN     Não informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     Não informado
4      Val      Belém             Belém

In [29]:
# Excluindo valores nulos

df_limpo = df.dropna()

In [30]:
df_limpo.isnull().sum()

ano_trabalho              0
nivel_experiencia         0
tipo_emprego              0
titulo_cargo              0
salario                   0
moeda_salario             0
salario_em_usd            0
residencia_funcionario    0
proporcao_remoto          0
localizacao_empresa       0
tamanho_empresa           0
dtype: int64

In [31]:
# Dados limpos, sem nulos

df_limpo.isnull().sum()

ano_trabalho              0
nivel_experiencia         0
tipo_emprego              0
titulo_cargo              0
salario                   0
moeda_salario             0
salario_em_usd            0
residencia_funcionario    0
proporcao_remoto          0
localizacao_empresa       0
tamanho_empresa           0
dtype: int64

In [32]:
df_limpo.head()

,ano_trabalho,nivel_experiencia,tipo_emprego,titulo_cargo,salario,moeda_salario,salario_em_usd,residencia_funcionario,proporcao_remoto,localizacao_empresa,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Totalmente Remoto,US,Média
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Totalmente Remoto,US,Média
2,2025.0,Médio,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Médio,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Entrada,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [33]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ano_trabalho            133339 non-null  float64
 1   nivel_experiencia       133339 non-null  object
 2   tipo_emprego            133339 non-null  object
 3   titulo_cargo            133339 non-null  object
 4   salario                 133339 non-null  int64
 5   moeda_salario           133339 non-null  object
 6   salario_em_usd          133339 non-null  int64
 7   residencia_funcionario  133339 non-null  object
 8   proporcao_remoto        133339 non-null  object
 9   localizacao_empresa     133339 non-null  object
 10  tamanho_empresa         133339 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.2+ MB

In [36]:
# Mudando o tipo de dado

''' Mudamos o ano para um valor inteiro e não decimal (float) '''

df_limpo = df_limpo.assign(ano_trabalho=df_limpo['ano_trabalho'].astype('int64'))
df_limpo

,ano_trabalho,nivel_experiencia,tipo_emprego,titulo_cargo,salario,moeda_salario,salario_em_usd,residencia_funcionario,proporcao_remoto,localizacao_empresa,tamanho_empresa
0,2025,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Totalmente Remoto,US,Média
1,2025,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Totalmente Remoto,US,Média
2,2025,Médio,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025,Médio,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025,Entrada,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média
...,...,...,...,...,...,...,...,...,...,...,...
133344,2020,Sênior,Tempo Integral,Data Scientist,412000,USD,412000,US,Totalmente Remoto,US,Grande
133345,2021,Médio,Tempo Integral,Principal Data Scientist,151000,USD,151000,US,Totalmente Remoto,US,Grande
133346,2020,Entrada,Tempo Integral,Data Scientist,105000,USD,105000,US,Totalmente Remoto,US,Pequena
133347,2020,Entrada,Contrato,Business Data Analyst,100000,USD,100000,US,Totalmente Remoto,US,Grande
133348,2021,Sênior,Tempo Integral,Data Scientist,7000000,INR,94665,IN,Híbrido,IN,Grande